body {
    background-color: white;
    font-family:Times New Roman;
    text-align:center;
  }
  
  .title {
    color: rgb(0, 0, 0);
    font-size:45px;
    font-weight:bold;
  }
  .name{
    font-size:35px;
  }
  .description{
    font-size:25px;
    font-family:Verdana;
    margin-left:25%;
    margin-right:25%;
    margin-top:0%;
    border:2px solid black;
    padding:1%;
  }
  
  
  .image{
    width: 50%;
    height: auto;
  }
  .miniHeaders{
    text-align: center;
    font-size:27.5px;
    margin-bottom:0px;
  }